

.sidebar .menu-item:last-child {
  margin-top: auto;
}
.main {
    margin-left: 260px;
    padding: 40px;
}

.page-title {
    font-size: 32px;
    font-weight: 700;
    color: #3b1366;
}

.subtitle {
    color: #7b6f92;
    margin-top: -8px;
}

.pomo-card {
    background: #ffffff;
    width: 70%;
    padding: 35px;
    border-radius: 20px;
    margin-top: 30px;
    margin: 30px auto 40px auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    text-align: center;
    margin-bottom: 40px;
}

.pomo-modes {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 25px;
}

.mode-btn {
    padding: 10px 18px;
    border-radius: 10px;
    border: 1px solid #d8cfff;
    background: white;
    color: #5e3aac;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.mode-btn.active {
    background: #8b32ff;
    color: white;
    border-color: #8b32ff;
}

.mode-btn:hover {
    background: #e8dbff;
}

.timer-display {
    font-size: 80px;
    font-weight: 700;
    color: #8b32ff;
    margin: 20px 0;
}

.focus-label {
    color: #7b6f92;
    margin-bottom: 20px;
}

.pomo-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.music-selector {
  text-align: left;
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}

.music-selector label {
  color: #5e3aac;
}

.music-selector select {
  border: 1px solid #d8cfff;
  border-radius: 10px;
  padding: 8px 12px;
}


.start-btn {
    padding: 12px 25px;
    background: #8b32ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
}

.reset-btn {
    padding: 12px 25px;
    background: white;
    border: 1px solid #d8cfff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}
