/* ===========================
   REUSABLE SYNTAX FOR SIDEBAR
=========================== */

body {
  background-color: #f6f2fc;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.sidebar {
  width: 260px;
  background-color: #3b1366; 
  min-height: 100vh;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.sidebar h5 {
  font-size: 20px; 
  font-weight: 700;
  margin-bottom: 25px; 
}

/* Menu items */
.menu-item {
 
  padding: 8px 15px; 
  border-radius: 50px; 
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px; 
  font-size: 14px; 
  font-weight: 500;
  transition: 0.2s ease;
  color: #e7dfff;
  text-decoration: none;
}

.menu-item i {
  font-size: 18px; 
}

.menu-item.active {
  background-color:  #6d28d9 ; 
  color: #fff;
}

/* Hover */
.menu-item:hover {
  background-color: #7626db;
  color: white;
}

.sidebar .menu-item:last-child {
  margin-top: auto;
}
/* ===========================
   DARK MODE
=========================== */
body.dark {
  background-color: #1a1a1a;
  color: #eaeaea;
}

/* Sidebar Dark */
body.dark .sidebar {
  background-color: #2b0f4a;
  color: #fff;
}

body.dark .menu-item {
  color: #d9caff;
}

body.dark .menu-item:hover {
  background-color: #4b1580;
}

body.dark .menu-item.active {
  background-color: #5e20a8;
}

/* Content Dark */
body.dark .content {
  color: #eaeaea;
}

body.dark .page-title {
  color: #d9caff;
}

body.dark .subtitle {
  color: #b8a3d9;
}

body.dark .setting-item .form-text {
    color: #c9b7ff; /* light purple for dark mode */
}

body.dark .settings-card, 
body.dark .pomo-card,
body.dark .mode-btn{
  background: #2a2a2a;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

body.dark .settings-card h2,
body.dark .mb {
  color: #d9caff;
  border-bottom-color: #5e20a8;
}

body.dark .setting-item label {
  color: #c9b7ff;
}

body.dark .form-select,
body.dark .form-control,
body.dark .start-btn,
body.dark .reset-btn{
  background: #1e1e1e;
  color: #eaeaea;
  border-color: #7649c9;
}

body.dark .btn-save {
  background: #6b2ed8;
}

body.dark .btn-save:hover {
  background: #5e20a8;
}
